* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: #fff8dc;
  font-family: 'Shippori Mincho B1', serif;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #000;
  color: #fff;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  background: #fff;
  color: #000;
  transform: scale(1.1) translateY(-2px);
}
